body{
    padding: 0px;
    margin: 0px;
    background-color: black;
    font-family: 'Kanit', sans-serif;
}

p{}

h1{}


ul, ol{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a{
    text-decoration: none;
    color: white;
}

/*----------------------header*/

.header-main{
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(0,198,201,255);
}

#logo{
    height: 100px;
    width: 100px;
}

.nav-header{
    padding: 40px;
}

.ul-header{
    display: flex;
    flex-direction: row;
}

.item-header{
    padding-inline: 20px;
    font-size: larger;
}

#form{
    padding-top: 40px;
}

.contenedor-input{}

/*----------------------main*/

#banner{
    width: 100%;
    margin-top: 30px;

}

.index-h1{
    color: white;
    padding: 30px;
}

.card-sec{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 15px;
    padding: 20px;
    text-align: center;
    background-color: #57535377;
}

.texto-a{
    color: white;
    padding: 20px;
}


.img_main{
    width: 100%;
    height: 600px;
}

/*----------------------footer*/

#idfooter{
    display: flex;
    justify-content: center;
    font-size: large;
    padding: 0px;
    margin: 0px;
    color: white;
    background-color: rgba(0,198,201,255)
}

/*Pelicula html*/

.banner-peli{
    background-image: url(../img/banner\ 2.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 10px;
}

.bannercito{
    padding: 15px;
    width: 30%;
}

#banercitoo{
    height: 650px;
    width: 400px;
}

.h3-detalle{
    background-color: rgb(0 0 0 / 58%);
    color: white;
    width: 100%;
    font-size: 25px;
}

.banner-peli2{
    color: white;
    width: 65%;
}

#h1-pelicula{
    margin-top: 160px;
    margin-bottom: 160px;
    color: white;
    background-color: rgb(0 0 0 / 58%);
    font-size: 80px;
}

.informacion{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    background-color: #444444;
    color: white;
}

#generitos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

#fantasia{
    background-color: #2e2a24a8;
    text-decoration: none;
    margin: 10px;
    padding: 10px;
}

#descripcion{
    padding: 10px;
    background-color: #444444;
    color: white;
}

.favoritos{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    background-color: #444444;
    padding: 15px;
}

.favoritos-botones{
    color: white;
    text-decoration: none;
    display: flex;
    background-color: #2e2a24a8;
    padding: 14px;
}

/*serie html*/

.banner-serie{
    background-image: url(../img/Los-Simpson.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.ban-simp{
    padding: 15px;
    width: 30%;
}

/*generos html*/
.cajagenero{
    background-color: black;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.generoh3{
    background-color: #444444;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    margin-left: 5px;
    margin-right: 5px;
}

#western{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: #444444;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
}



@media (max-width : 420px){
    .header-main{
        
    }
}