body{
    padding: 0px;
    margin: 0px;
    background-color: black;
    font-family: 'Kanit', sans-serif;
}

p{}

h1{
    margin: 0px;
}


ul, ol{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a{
    text-decoration: none;
    color: white;
}
/*----------------------header*/

.header-main{
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(0,198,201,255);
}

#logo{
    height: 100px;
    width: 100px;
}

.nav-header{
    padding: 40px;
}

.ul-header{
    display: flex;
    flex-direction: row;
}

.item-header{
    padding-inline: 20px;
    font-size: larger;
}

#form{
    padding-top: 40px;
}


/*----------------------main*/

#banner{
    width: 100%;
    margin-top: 12px;
}

.index-h1{
    color: white;
    padding: 30px;
}

.card-sec{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 15px;
    padding: 20px;
    text-align: center;
    background-color: #57535377;
}

.texto-a{
    color: white;
    padding: 20px;
}


.img_main{
    width: 100%;
    height: 600px;
}

/*----------------------footer*/


.footer{
    display: flex;
    justify-content: space-around;
    font-size: large;
    padding: 20px;
    margin: 0px;
    background-color: rgba(0,198,201,255);
}

#img-footer{
    height: 180px;
}

#idfooter{
    display: flex;
    align-items: center;
}

/*Pelicula html*/

.banner-peli{
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 10px;
}

.bannercito{
    padding: 15px;
    width: 30%;
}

#banercitoo{
    height: 650px;
    width: 400px;
}

.h3-detalle{
    background-color: rgb(0 0 0 / 33%);
    color: white;
    width: 100%;
    font-size: 25px;
}

.descripcion{
    background-color: rgb(0 0 0 / 33%);
    color: white;
    width: 100%;
    font-size: 25px;
}

.banner-peli2{
    color: white;
    width: 65%;
}

#h1-pelicula{
    margin-top: 160px;
    margin-bottom: 160px;
    color: white;
    background-color: rgb(0 0 0 / 33%);
    font-size: 80px;
}

.informacion{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    background-color: #444444;
    color: white;
}

#generitos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

#fantasia{
    background-color: #2e2a24a8;
    text-decoration: none;
    margin: 10px;
    padding: 10px;
}

#descripcion{
    padding: 10px;
    background-color: #444444;
    color: white;
}

.favoritos{
    margin-bottom: 15px;
    display: flex;
    justify-content: space-around;
    background-color: #444444;
    padding: 15px;
}

.favoritos-botones{
    color: white;
    text-decoration: none;
    display: flex;
    background-color: #2e2a24a8;
    padding: 14px;
    border-radius: 5px;
}

/*serie html*/

.banner-serie{
    background-image:url();
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.ban-simp{
    padding: 15px;
    width: 30%;
}

.recomendaciones{
    padding: 10px;
    display: flex;
    margin: 15px;
    background-color: lightgrey;
    justify-content: space-around;
}

.card-recomendaciones{
    display: none;
    background-color: black;
    color: white;
    justify-content: space-around;
    margin-bottom: 15px;
}

.carta-recomendaciones{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 15px;
    padding: 20px;
    text-align: center;
    background-color: #57535377;
}
.img-recomendaciones{
    width: 100%;
}
/*generos html*/

#banner2{
    width: 100%;
}

.cajagenero{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.cajageneros{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.generoh3{
    background-color: #444444;
    border-radius: 5px;
    display: flex;
    width: 30%;
    margin-left: 5px;
    margin-right: 5px;
    justify-content: center;
    font-size: 15px;
}

@media (max-width : 420px){

    .footer{
        flex-direction: column;
    }
   
    /*index html*/
   
    .ul-header{
        flex-direction: column;
        align-items: center;
    }
    
    .header-main{
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        padding: 20px;
    }

    .nav-header{
        padding: 0px
    }

    /*busqueda html*/

    #video{
        margin-right: 0px;
        margin-left: 0px;
    }

    #videito{
        width: 300px;
        height: 450px;
        margin-left: 50px;
    }

    #cajaentera{
        justify-content: flex-end;
        background-color: black;
    }

    /*generos*/

    #banner{
        display: none;
    }

    /*Series*/

    .banner-serie{
        background: none;
        flex-direction: column;
    }

    #h1-pelicula{
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .ban-simp{
        width: 90%;
        padding: 5%;
    }

    .banner-peli2{
        width: 100%;
    }

    #banercitoo{
        width: 100%;
    }

    .h3-detalle{
        display: flex;
        justify-content: center;
    }

    /*Peliculas*/

    .banner-peli{
        background: none;
        flex-direction: column;
        margin: 0px;
        }

    .bannercito{
        width: 90%;
        padding: 5%;
    }

    /*generos*/
    
    .index-h1{
        justify-content: center;
        margin: 0px;
        display: flex;
        font-size: 25px;
    }

    #banner2{
        display: none;
    }
}